body {
    background: linear-gradient(75deg, #9ba8ce 0%, #6400a7 100%);
    background: -moz-linear-gradient(75deg, #9ba8ce 0%, #6400a7 100%);
    background: -webkit-linear-gradient(75deg, #9ba8ce 0%, #6400a7 100%);
  }